html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

html,
body {
  display: block;
  padding: 0;
  margin: 0;
  background-color: inherit !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#skip-link {
  position: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

#skip-link {
  top: -4em;
  z-index: 1001;
  color: blue;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 8px 15px;
  font-size: 14.5px;
  position: absolute;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
  border: 1px solid blue;
  border-bottom-right-radius: 3px;
}

#skip-link:focus {
  top: 0;
  left: 0;
  outline: none;
}

button,
[role="button"] input[type="submit"] {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
select {
  -webkit-text-transform: none;
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

section {

}
